.die {
	color: black;
	display: inline-block;
}

.die a {
	font-size: 150px;
	text-decoration: none;
	line-height: 0.6;
}

a,
a:visited,
a:hover,
a:active {
	color: inherit;
	text-decoration: none;
}

.dieDisabled a {
	color: red;
}

.error {
	color: red;
}

h2 {
	text-align: center;
}

.table table-bordered td,
tr {
	padding: 0px;
}

#dice {
	background-color: lightgreen;
}

#protocol {
	background-color: #EEEEEE;
}
