html,
body,
.container {
	background-color: #0f6381 !important;
}

.container {
	margin: 20px 0 20px 0;
}

.die {
	color: #ebebeb;
	display: block;
	text-align: center;
}

.die a {
	font-size: 150px;
	line-height: 0.6;
	color: black;
	text-decoration: none;
	display: inline-block;
	overflow: hidden;
}

.die a:visited,
.die a:hover,
.die a:active,
.die a:link {
	color: inherit;
	text-decoration: none;
}

.dieLocked {
	color: #c7ae70;
}

.dieDisabled {
	color: #3794b5;
}

.error {
	color: red;
}

#protocol {
	background-color: #EEEEEE;
}

.bold {
	font-weight: bold;
	background-color: #CCCCCC;
}

.blue {
	font-weight: bold;
}

.blue a,
.blue a:visited,
.blue a:hover,
.blue a:active,
.blue a:link {
	color: #1581a7;
	text-decoration: none;
}

td {
	width: 100px;
	max-width: 100px;
	min-width: 100px;
}

td a {
	display: block;
	height: 100%;
	width: 100%;
	padding: 8px;
}

td a:hover {
	background-color: #8cddf9;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
	height: 100%;
}

.btn {
	width: 100%;
}

select {
	width: 67px;
}

.form-control {
	margin-bottom: 10px;
	max-width: 200px;
}

h1,
h2,
h3,
p,
label {
	color: #ebebeb !important;
}

.success {
	background-color: #dbc691 !important;
}

.table-bordered,
table,
th,
td,
tr,
tbody,
thead {
	border-color: #AAAAAA !important;
}

.btn, input, .table, select {
	background-color: #ebebeb !important;
}

@media (max-width: 768px) {
	.die {
		display: inline-block;
	}
	.die a {
		font-size: 84px;
		line-height: 0.6;
	}
}
