.container {
	margin: 20px 0 20px 0;
}

.die {
	color: black;
	display: block;
	text-align: center;
}

.die a {
	font-size: 150px;
	line-height: 0.6;
	color: black;
	text-decoration: none;
	display: inline-block;
	overflow: hidden;
}

.die a:visited,
.die a:hover,
.die a:active,
.die a:link {
	color: inherit;
	text-decoration: none;
}

.dieDisabled {
	color: red;
}

.dieGrayed {
	color: #CCCCCC;
}

.error {
	color: red;
}

#protocol {
	background-color: #EEEEEE;
}

.bold {
	font-weight: bold;
	background-color: #EEEEEE;
}

.green {
	font-weight: bold;
	color: green;
}

.green a,
.green a:visited,
.green a:hover,
.green a:active,
.green a:link {
	color: green;
	text-decoration: none;
}

td {
	width: 100px;
	max-width: 100px;
	min-width: 100px;
}

td a {
	display: block;
	height: 100%;
	width: 100%;
	padding: 8px;
}

td a:hover {
	background-color: lightgreen;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
	height: 100%;
}

.btn {
	width: 100%;
}

select {
	width: 67px;
}

@media (max-width: 768px) {
	.die {
		display: inline-block;
	}
	.die a {
		font-size: 86px;
		line-height: 0.6;
	}
}
