GameBoard.addTemplate('default', function(){ return `

<div class="container">

	<div class="col-md-12">
		<div id="protocolContainer">

		</div>
		<div id="column"></div>
		<div id="dice">
		</div>

		<div class="btn-group">
			<button class="btn btn-default btn-lg" type="button" data-click="rollTheDice">Roll the dice</button>
		   
		</div>

	</div>
	<div style="background: cyan" >
		Time: <span id="newTime">${this.startTime}</span>
	</div>
	<div >
		count up timer: <span id="myTimer">${this.startTimer}</span>
	</div>

	


</div>

`})
