Lobby.addTemplate('default', function(){ return `
<div class="container">
	<h1>Choose number of players</h1>
	<!------------- Large button group ----------------------------->
	<div class="btn-group">
		<button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Large button
  </button>
	</div>
	<!------------- Large button group ----------------------------->
	<!------------- Large button group ----------------------------->
	<div class="btn-group">
		<button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Large button
  </button>
	</div>
	<!------------- Large button group ----------------------------->
	<!------------- Dropdown ------------------------------->
	
	<div id="dropdown">
		<label for="selectPlayer">Number of players</label>
		<select id="selectPlayer" name="selectPlayer">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
		</select>
	</div>
	<!------------- Dropdown ------------------------------->


</div>
`})
