Protocol.addTemplate('default', function(){return `
<h2>Welcome to Yatzy motherfuckers, may the best HEN win.</h2>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="table-responsive">
				<table id="tjo" class="table table-bordered">
					<thead>
						<tr>
							<th>Alternativ</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>&#x2680;</td>
						</tr>
						<tr>
							<td>&#x2681;</td>
						</tr>
						<tr>
							<td>&#x2682;</td>
						</tr>
						<tr>
							<td>&#x2683;</td>
						</tr>
						<tr>
							<td>&#x2684;</td>
						</tr>
						<tr>
							<td>&#x2685;</td>
						</tr>
						<tr>
							<td>
								<span>Summa</span>
							</td>
						</tr>	
						<tr>
							<td>Bonus
							</td>
						</tr>
						<tr>
							<td>Ett par
							</td>
						</tr>
						<tr>
							<td>Två par
							</td>
						</tr>
						<tr>
							<td>Triss
							</td>
						</tr>
						<tr>
							<td>Fyrtal
							</td>
						</tr>
						<tr>
							<td>Liten stege
							</td>
						</tr>
						<tr>
							<td>Stor stege
							</td>
						</tr>
						<tr>
							<td>Kåk
							</td>
						</tr>
						<tr>
							<td>Chans
							</td>
						</tr>
						<tr>
							<td>Yatzy
							</td>
						</tr>
						<tr>
							<td>Totalt
							</td>
						</tr>
					</tbody>


				</table>
			</div>
			<!--end of .table-responsive-->
		</div>
	</div>
</div>


`});
