Protocol.addTemplate('default', function(){return `

<div>
     <table class="table">
    <ul class="list-group">
    <li class="list-group-item">Name:</li>
    <li class="list-group-item">Ones:</li>
    <li class="list-group-item">Twos:</li>
    <li class="list-group-item">Threes:</li>
    <li class="list-group-item">Fours:</li>
    <li class="list-group-item">Fives:</li>
    <li class="list-group-item">Sixes:</li>
    <li class="list-group-item">Total:</li>
    <li class="list-group-item">Bonus:</li>
  </ul>
  </table>
</div>
`});
